.center
{
    text-align: center;
}

.large
{
    font-size: 150px;
    color: red;
}
.medium
{
    font-size: 75px;
}

.small
{
    font-size: 25px;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
